## Holiday Package Prediction

In this Notebook, I am going to XG Boost Machine Learning Algorithm along with other algorithms on a Dataset called Holiday Package Prediction.

## Problem Statement  
Trips & Travel.Com" company wants to enable and establish a viable business model to expand the customer base. One of the ways to expand the customer base is to introduce a new offering of packages. Currently, there are 5 types of packages the company is offering - Basic, Standard, Deluxe, Super Deluxe, King. Looking at the data of the last year, we observed that 18% of the customers purchased the packages. However, the marketing cost was quite high because customers were contacted at random without looking at the available information. The company is now planning to launch a new product i.e. Wellness Tourism Package. Wellness Tourism is defined as Travel that allows the traveler to maintain, enhance or kick-start a healthy lifestyle, and support or increase one's sense of well-being. However, this time company wants to harness the available data of existing and potential customers to make the marketing expenditure more efficient.  

Link to the Dataset : https://www.kaggle.com/datasets/susant4learning/holiday-package-purchase-prediction

In [4]:
## importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

In [5]:
## loading the dataset
df = pd.read_csv("Travel.csv")
df.head()

   CustomerID  ProdTaken  ...  Designation MonthlyIncome
0      200000          1  ...      Manager       20993.0
1      200001          0  ...      Manager       20130.0
2      200002          1  ...    Executive       17090.0
3      200003          0  ...    Executive       17909.0
4      200004          0  ...    Executive       18468.0

[5 rows x 20 columns]

### Data Clearning

1. Handling Missing Values
2. Handling Duplicates
3. Check data type
4. Understand the dataset

In [6]:
df.shape

(4888, 20)

In [7]:
## checking for null values
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

It means that the dataset is not cleaned and contains Null values.

Note - Always check each features to avoid any kind of errors.

In [8]:
## Checking for Gender
df["Gender"].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

There are two categories - Male and Female and another one is "Fe Male". "Fe male" can be combined into Female. It might be a spelling mistake.

In [9]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

Similarly here, "Single" can be conbined with "Unmarried".

In [10]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [11]:
## Replacing the values
df['Gender'] = df['Gender'].replace("Fe Male", "Female")
df['MaritalStatus'] = df['MaritalStatus'].replace("Singe", "Unmarried")

In [12]:
df.head()

   CustomerID  ProdTaken  ...  Designation MonthlyIncome
0      200000          1  ...      Manager       20993.0
1      200001          0  ...      Manager       20130.0
2      200002          1  ...    Executive       17090.0
3      200003          0  ...    Executive       17909.0
4      200004          0  ...    Executive       18468.0

[5 rows x 20 columns]

In [13]:
## Handling the missing values
features_with_na = [features for features in df.columns if df[features].isnull().sum() >= 1] ## checking for atleast one Nan value.

## Finding the percentage of missing values
for features in features_with_na:
    print(features, ":", np.round(df[features].isnull().mean()*100, 3))

Age : 4.624
TypeofContact : 0.511
DurationOfPitch : 5.135
NumberOfFollowups : 0.921
PreferredPropertyStar : 0.532
NumberOfTrips : 2.864
NumberOfChildrenVisiting : 1.35
MonthlyIncome : 4.767

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [15]:
## describe the dataset
df[features_with_na].select_dtypes(exclude='object').describe()

               Age  DurationOfPitch  ...  NumberOfChildrenVisiting  MonthlyIncome
count  4662.000000      4637.000000  ...               4822.000000    4655.000000
mean     37.622265        15.490835  ...                  1.187267   23619.853491
std       9.316387         8.519643  ...                  0.857861    5380.698361
min      18.000000         5.000000  ...                  0.000000    1000.000000
25%      31.000000         9.000000  ...                  1.000000   20346.000000
50%      36.000000        13.000000  ...                  1.000000   22347.000000
75%      44.000000        20.000000  ...                  2.000000   25571.000000
max      61.000000       127.000000  ...                  3.000000   98678.000000

[8 rows x 7 columns]

From above as we see from "mean" row and "50%", there are some outliers but not in large amount.

### Imputing Null Values
1. Impute Median -> Age, DurationofPitch, NumberOfTrips, MonthlyIncome
2. Impute Mode -> TypeOfContract, NumberOfFollowups, PreferredPropertyStar, NumberOfChildrenVisiting

In [16]:
## Imputing values

## Age Column
df['Age'].fillna(df["Age"].median(), inplace = True)

## Duration of Pitch
df['DurationOfPitch'].fillna(df["DurationOfPitch"].median(), inplace = True)

## Number of Trips
df['NumberOfTrips'].fillna(df['NumberOfTrips'].median(), inplace = True)

## Monthly Income
df['MonthlyIncome'].fillna(df['MonthlyIncome'].median(), inplace = True)

## TypeOFContract
df['TypeofContact'].fillna(df['TypeofContact'].mode()[0], inplace = True)

## NumberOfFollowups
df['NumberOfFollowups'].fillna(df['NumberOfFollowups'].mode()[0], inplace = True)

## PreferredPropertyStar
df['PreferredPropertyStar'].fillna(df['PreferredPropertyStar'].mode()[0], inplace = True)

## NumberofChildrenVisiting
df["NumberOfChildrenVisiting"].fillna(df['NumberOfChildrenVisiting'].mode()[0], inplace = True)

In [17]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

There are no Nan Values which means our dataset is cleaned.

In [18]:
## Dropping Customer ID as its not relevant
df.drop("CustomerID", inplace = True, axis = 1)

One thing to notice - there is a column named "NumberOfPersonVisiting" and a column "NumberOfChildrenVisiting".  
To reduce the number of features, I am going to combine these two features

In [19]:
df['TotalVisitors'] = df['NumberOfChildrenVisiting'] + df['NumberOfPersonVisiting']

In [20]:
## Now dropping the columns -> NumberofChildrenVisiting and NumberofPersonVisiting
df.drop(columns=['NumberOfChildrenVisiting', 'NumberOfPersonVisiting'], inplace=True)

In [21]:
df.head()

   ProdTaken   Age    TypeofContact  ...  Designation  MonthlyIncome TotalVisitors
0          1  41.0     Self Enquiry  ...      Manager        20993.0           3.0
1          0  49.0  Company Invited  ...      Manager        20130.0           5.0
2          1  37.0     Self Enquiry  ...    Executive        17090.0           3.0
3          0  33.0  Company Invited  ...    Executive        17909.0           3.0
4          0  36.0     Self Enquiry  ...    Executive        18468.0           2.0

[5 rows x 18 columns]

In [22]:
## Numerical Features
num_features = [features for features in df.columns if df[features].dtype != "O"]
num_features

['ProdTaken',
 'Age',
 'CityTier',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'MonthlyIncome',
 'TotalVisitors']

In [23]:
## Categorical Features
cat_features = [features for features in df.columns if df[features].dtype == "O"]
cat_features

['TypeofContact',
 'Occupation',
 'Gender',
 'ProductPitched',
 'MaritalStatus',
 'Designation']

In [24]:
## Discrete Features
discrete_features = [features for features in num_features if len(df[features].unique()) <= 25]
discrete_features

['ProdTaken',
 'CityTier',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'Passport',
 'PitchSatisfactionScore',
 'OwnCar',
 'TotalVisitors']

In [25]:
## Continous Features
continous_features = [features for features in num_features if features not in discrete_features]
continous_features

['Age', 'DurationOfPitch', 'MonthlyIncome']

### Model Building

In [26]:
from sklearn.model_selection import train_test_split
X = df.drop(['ProdTaken'], axis = 1)
y = df['ProdTaken']

In [27]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [28]:
X.head()

    Age    TypeofContact  CityTier  ...  Designation MonthlyIncome TotalVisitors
0  41.0     Self Enquiry         3  ...      Manager       20993.0           3.0
1  49.0  Company Invited         1  ...      Manager       20130.0           5.0
2  37.0     Self Enquiry         1  ...    Executive       17090.0           3.0
3  33.0  Company Invited         1  ...    Executive       17909.0           3.0
4  36.0     Self Enquiry         1  ...    Executive       18468.0           2.0

[5 rows x 17 columns]

In [29]:
## seperating dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [30]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

## create Column Transformer with 3 types of transformers
cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude="object").columns

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop = "first")

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features)
    ]
)

In [31]:
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisitors'],
      dtype='object'))])

In [32]:
## applying transformation into training set
X_train_transformed = preprocessor.fit_transform(X_train)

In [33]:
X_train_transformed

array([[ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.38224537, -0.77415132],
       [ 1.        ,  0.        ,  1.        , ...,  0.78296635,
        -0.4597992 ,  0.64361526],
       [ 1.        ,  1.        ,  0.        , ...,  0.78296635,
        -0.24519557, -0.06526803],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.36057591,  0.64361526],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.25279888,  0.64361526],
       [ 0.        ,  0.        ,  1.        , ..., -1.2771941 ,
        -1.08251091, -1.48303461]], shape=(3910, 27))

In [34]:
X_test_transformed = preprocessor.transform(X_test)

In [35]:
X_test_transformed

array([[ 0.        ,  0.        ,  0.        , ..., -1.2771941 ,
        -0.73751038, -0.77415132],
       [ 1.        ,  0.        ,  0.        , ..., -1.2771941 ,
        -0.6704111 , -0.06526803],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.4208322 , -0.77415132],
       ...,
       [ 0.        ,  1.        ,  0.        , ...,  0.78296635,
         0.69001249,  0.64361526],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.22827818, -0.77415132],
       [ 1.        ,  1.        ,  0.        , ...,  0.78296635,
        -0.44611323,  2.06138184]], shape=(978, 27))

## XGBoost Classifier

In [36]:
## importing required libraries and its tools
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score, roc_auc_score, recall_score, f1_score

In [37]:
## building the model
models = {
    "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss'),
}

for model_name, model in models.items():
    #model = list(models.values())[i]
    model.fit(X_train_transformed, y_train) ## model training


    ## Making predictions
    y_train_pred = model.predict(X_train_transformed)
    y_test_pred = model.predict(X_test_transformed)


    ## Training set Performance
    train_accuracy = accuracy_score(y_train, y_train_pred)
    train_f1 = f1_score(y_train, y_train_pred, average="weighted")  # fix here
    train_precision = precision_score(y_train, y_train_pred)
    train_recall = recall_score(y_train, y_train_pred)
    train_rocauc_score = roc_auc_score(y_train, y_train_pred)


    ## Test set Performance
    test_accuracy = accuracy_score(y_test, y_test_pred)
    test_f1 = f1_score(y_test, y_test_pred, average="weighted")
    test_precision = precision_score(y_test, y_test_pred)
    test_recall = recall_score(y_test, y_test_pred)
    test_rocauc_score = roc_auc_score(y_test, y_test_pred)

    print(f"Model: {model_name}")

    print("Model Performance for Training set-")
    
    print("Accuracy: {:.4f}".format(train_accuracy))
    print("F1 Score: {:.4f}".format(train_f1))
    print("Precision: {:.4f}".format(train_precision))
    print("Recall Score: {:.4f}".format(train_recall))
    print("ROC AUC Curve: {:.4f}".format(train_rocauc_score))

    print()
    print("Model Performance for Test set-")

    print("Accuracy: {:.4f}".format(test_accuracy))
    print("F1 Score: {:.4f}".format(test_f1))
    print("Precision: {:.4f}".format(test_precision))
    print("Recall Score: {:.4f}".format(test_recall))
    print("ROC AUC Curve: {:.4f}".format(test_rocauc_score))

    print("-------------------------------------")

Model: XGBoost
Model Performance for Training set-
Accuracy: 0.9997
F1 Score: 0.9997
Precision: 1.0000
Recall Score: 0.9986
ROC AUC Curve: 0.9993

Model Performance for Test set-
Accuracy: 0.9376
F1 Score: 0.9343
Precision: 0.9452
Recall Score: 0.7225
ROC AUC Curve: 0.8562
-------------------------------------